numpy==1.26.4
scipy==1.11.4
pandas
matplotlib
opencv-python
Pillow
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
openai-whisper
deep-translator
TTS==0.22.0
transformers==4.35.2
tokenizers==0.15.2
speechbrain==1.1.0
facenet-pytorch==2.6.0
imageio-ffmpeg
librosa
scikit-image
tqdm